{
	"env": {
		"mocha": true,
		"jest": true 
	},
	"extends": ["plugin:jest/recommended"],
  	"plugins": ["jest"],
	"rules": {
		"jest/expect-expect": "off",
		"no-unused-vars": "off",
		"jest/no-commented-out-tests": "off",
    	"max-len": "off"
	},
	"settings": {
		"jest": {
			"version": 29  // Current Jest version
		}
	}
}
