{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": "nodebb",
  "rules": {
    "jest/no-commented-out-tests": "off",
    "max-len": "off",
    "spaced-comment": "off"
  }
}
